body{

  width: 100%;
  height: 100%;
}

h1{
  margin: 0;
  padding: .5em 0;
}

.item_1{
  background-color: #A21B01;
  text-align: center;
  margin: auto;
  height: 100%;
  width:100%;
  position: relative;
}

.i2{
  background-color: teal;
}
.i3{
  background-color: beige;

}

.arrow{
  position: absolute;
  bottom: 15%;
  margin: 0 auto;
  display: inline;
  cursor: pointer;


}

.arrow > div {
  background-color: hotpink;
  padding: .2em;
  border: 1px solid green;

}
